#gallery .row {
    display: flex;
    padding: 0px 4px;
}

#gallery .column {
    flex: 25%;
    max-width: 25%;
    padding: 0px 4px;
}

#gallery .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


@media screen and (max-width: 800px)  { 
    #gallery .row {
        padding: 0px;
        flex-wrap: wrap;
    }
    
    #gallery .column {
        flex: 50%;
        max-width: 50%;
        padding: 0px;
    }
}

@media screen and (max-width: 400px) {
    #gallery .column {
        flex: 100%;
        max-width: 100%;
    }
}