html {
    scroll-behavior: smooth;
    transition: 0.2s;
}

* {margin: 0; padding: 0;}

#main .row {
    display: flex;
}

#main .column {
    flex: 50%;
}

#hobbies .column {
    display: flex;  
    flex-direction: column;  
}

#hobbies .row {
    flex: 25%;
}    

body {
    font-family: 'Gemunu Libre', sans-serif;
    background-color: lightgrey;
}

p  {
    word-wrap: break-word;
    padding-top: 10px;
    text-align: center;
}

h1  {
    background-color: darkcyan;
    color: lightgrey;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
}

h2 {
    color: black;
    text-align: center;
    padding-top: 10px;
    
}

h2 hr {
    border-bottom: 2px black solid;
    position: absolute;
    left: 20%;
    width: 60%;
}

#origin {
    min-height: 800px;
    box-sizing: border-box;
    transform: translateY(-4px);
}

#origin p {
    width: 75%;
    font-size: large;
}

#origin h2 {
    width: 75%;
}

#origin h2 hr {
    min-width: 280px;
    width: 50%;
    left: 12.5%;
}

#origin img {
    right: 0;
    width: 25%;
    position: absolute;
    max-height: 945px;
}

.right {
    position: absolute;
    right: 0;
}

iframe {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 25%;
    border: 4px solid lightslategray;
}   

.separator {
    height: 320px;
}

ul.container {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    transform: translateY(-4px);
}

.container li {
    float: left;
}

.container li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    opacity: 0.8;
    background-color: red;
    transition: 0.5s;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 9;
    justify-content: center;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.5s;
}

.fa, .fab{   
    padding: 30px;
    width: 30px;
    height: 30px;
    margin: 2px;
    border-radius: 100%
  }

.fa:hover, .fab:hover{
    opacity: 0.7;
    transition: 0.5s;
}

ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration:none;
    transition: 0.5s;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-discord {
    background: #7289da;
    color: white;
}

.fa-arrow-up {
    display: block;
    color: black; 
    position: fixed;
    z-index: 99;
    bottom: 0;
    opacity: 0.4;
    border-radius: 50%; 
}

.fa-arrow-up:hover {
    background-color: rgb(187, 183, 183);
    opacity: 0.7;
}
@media screen and (max-width: 800px)  {
    #origin p {
        width: 100%;
        font-size: large;
    }
    
    #origin h2 {
        width: 100%;
        display: block;
    }
    
    #origin img {
        width: 100%;
        display: block;
        position: relative;
        max-height: none;
    }

    iframe {
        width: 100%;
        border: 0px;
    }
    
    #origin h2 hr {
        min-width: 0px;
        width: 60%;
        left: 20%;
    }
}
